<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
<% recipes.forEach( recipe=> { %>

    <h2>
       <a href="recipe/<%= recipe.id %>"> <%= recipe.name %> </a>
    </h2>
    <p>
        Description: <%= recipe.description %> </br>
        Ingredient:  <%= recipe.ingredient %> </br>
        Cooking time: <%= recipe.cookingTime %> min.</br>
        Preparation: <%= recipe.preparation %> </br>
        Serving size : <%= recipe.servingSize %> </br>
    </p>
    
    <% }) %> 
    <div>
    <a href="/recipe/new"><button> Create New Recipe  </button></a>
</div>
</main>
</body>
</html>
