<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="recipe-list">
            <% recipes.forEach(recipe => { %>
              <div class="recipe-item">
                <h2>
                  <a href="recipe/<%= recipe.id %>"><%= recipe.name %></a>
                </h2>
                <div class="recipe-details">
                  <p>Description: <%= recipe.description %></p>
                  <p>Ingredient: <%= recipe.ingredient %></p>
                  <p>Cooking time: <%= recipe.cookingTime %> min.</p>
                  <p>Preparation: <%= recipe.preparation %></p>
                  <p>Serving size: <%= recipe.servingSize %></p>
                </div>
              </div>
            <% }) %>
          </div>
    <a href="/recipe/new"><button> Create New Recipe  </button></a>
</div>
</main>
</body>
</html>
