<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="foodie">
      <h2><%= recipe.name %></h2>
      <p class="Foodie">
        <strong>Description:</strong> <%= recipe.description %> <br>
        <strong>Ingredients:</strong> <%= recipe.ingredient %> <br>
        <strong>Cooking Time:</strong> <%= recipe.cookingTime %> min.<br>
        <strong>Preparation:</strong> <%= recipe.preparation %> <br>
        <strong>Serving Size:</strong> <%= recipe.servingSize %> <br>
      </p>

      <a href="/recipe/<%= recipe._id %>/edit"><button>Edit Recipe</button></a>

      <form action="/recipe/<%= recipe._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Recipe" />
      </form>
    </div>
    </main>
  </body>
</html>